# Database
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/?appName=RuheaStore
MONGODB_DB=ruhea-fragrances

# Auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=changeme_in_production
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

# Email
RESEND_API_KEY=

# Cloudinary (Image Upload)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=

# Upload
UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=
UPLOADTHING_TOKEN=

# Payment Gateways
JAZZCASH_MERCHANT_ID=
JAZZCASH_PASSWORD=
JAZZCASH_INTEGRITY_SALT=
EASYPAISA_STORE_ID=
EASYPAISA_API_KEY=
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

# External APIs
WHATSAPP_API_TOKEN=
SMS_GATEWAY_API_KEY=
GOOGLE_ANALYTICS_ID=
FACEBOOK_PIXEL_ID=

# Courier APIs
TCS_API_KEY=
LEOPARDS_API_KEY=
POSTEX_API_KEY=
